@using SC.BL.Domain
@model SC.BL.Domain.Ticket

<dl class="dl-horizontal">
    <dt>Id</dt><dd>@Model.TicketNumber</dd>
    <dt>Account</dt><dd>@Model.AccountId</dd>
    <dt>Probleem</dt><dd>@Model.Text</dd>
    <dt>Aangemaakt op</dt><dd>@Model.DateOpened</dd>
    <dt>Status</dt>
    <dd>
        @*@Model.State*@
        <span id="state">@Model.State</span>
        @if (Model.State != TicketState.Closed)
        {
            <button type="button" onclick="closeTicket(@Model.TicketNumber)">Close</button>
        }
    </dd>
</dl>

<script type="text/javascript">
    function closeTicket(ticketNumber) {
        $.ajax('/api/Tickets/' + ticketNumber + '/State/Closed',
                {
                    type: 'PUT'
                })
            .done(function(data) { $('#state').html('Closed'); })
            .fail(function() { alert('Oeps, something went wrong!'); });
    }
</script>