@model CreateTicketViewModel

@{
    ViewBag.Title = "Ticket aanmaken";
}

<h2>Ticket aanmaken</h2>

<form asp-controller="Ticket" asp-action="Create" method="post">
    <div class="form-group">
        <label @*for="accId"*@asp-for="AccId">Account-id</label>
        <input @*id="accId" name="accId" type="number"*@asp-for="AccId" class="form-control"/>
    </div>
    <div class="form-group">
        <label @*for="problem"*@asp-for="Problem">Probleem</label>
        <input @*id="problem" name="problem" type="text"*@asp-for="Problem" class="form-control"/>
    </div>
    <input type="submit" value="Verzenden"/> | <a asp-action="Index">Annuleer</a>
</form>