@page
<div class="container">

    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">

            <h3>message for global chat</h3>
            <input type="text" id="messageInput" placeholder="Message"/>
            <br/>
            <br/>
            <input type="button" id="sendButton" class="btn" value="Send Message"/>
            <br/>
            <br/>
            <h3>groupname to join/create or leave</h3>
            <input type="text" name="group-name" id="group-name" placeholder="Group name"/>
            <br/>
            <br/>
            <input type="button" id="join-group" class="btn" value="Join "/>
            <input type="button" id="leave-group" class="btn" value="Leave"/>
            <br/>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <h3>Global chat</h3>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

    <h3>Group chat</h3>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="chats"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>