@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <br/>
            <br/>
            <input type="text" id="messageInput" placeholder="Message"/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <h2>Global chat</h2>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList">

            </ul>
        </div>
    </div>
    <br/>
    <br/>
    <input type="button" id="sendButton" class="btn" value="Send Message"/>
    <br/>
    <h2>Chat with admin only</h2>
    <p id="myname"></p>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesListclient">

            </ul>
        </div>
    </div>
    <br/>
    <br/>
    <input type="button" id="groupmsgclient" class="btn" value="Send to Group"/>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>