<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<br/>
<br/>
<div>
    <form asp-controller="Home" asp-action="Authentication" method="post">
        <div>
            <input name="Id" placeholder="Id of name">
            <input type="submit" class="btn" value="Login"/> | <a asp-action="Index">Annuleer</a>
        </div>
    </form>
</div>
</body>
</html>